################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorlds/.vs/HelloWorlds/v16/Server/sqlite3
